body {
	background-color: #0c132f;
	text-align: center;
}
#navbarNav {
background-color: #1e4f92;	
}
.navbar-brand{
	background-color: #1e4f92;
	font-family: arial black;
	color: #58edff;
}
.navbar{
	background-color:#1e4f92 ;
	lighting-color: : #13c7fc;
}
.text {
	text-align: center;
	font-family: arial black;
	margin-top: 20px;
	color:#58edff;
}
.inf{
	color:#e4e4e4; 
	text-align:left;
	margin: 20px auto;
	padding: 20px;
}
th {
	color:#e4e4e4;

}
.force{
	color:#ffe043;
}
.energy{
	color:#ff8f6c;
}
.mint{
	color:#8eff8e;
}
footer {
	color:#0a3f9d;
}
.navbar-toggler  {
	background-color:#a2d7fd;
}
.navbar-toggler-icon  {
	color: #2e9fcc;
	margin-right: 10px;
	}
	