body {
	background-color: #0c132f;
	text-align: center;
}
#navbarNav {
background-color: #1e4f92;	
}
.navbar-brand{
	background-color: #1e4f92;
	font-family: arial black;
	color: #58edff;
}
.navbar{
	background-color:#1e4f92 ;
	lighting-color: : #a2d7fd;
}
.inf{
	color:#0a235e; 
	text-align:left;
	margin: 20px auto;
	/*background-color: #6a9db6;*/
	padding: 20px;
}	
.fuel{
	color:#e4e4e4;
	padding: 10px;
	margin: 10px auto;
	text-align: center;
	color:#0a235e;
}
button {
	display: flex;
	/*margin: 20px auto;*/
	background-color: #a2d7fd;
	align-items: center;
	justify-content: center;
	}
input {
	background-color: #a2d7fd;
	color: blue;
	margin: 10px auto;
}
.navbar-toggler  {
	background-color:#a2d7fd;
}
.navbar-toggler-icon  {
	color: #2e9fcc;
	margin-right: 10px;
	}
	footer {
	color:#0a3f9d;
}
.card {
	display: flex;
	margin: 30px auto;
	padding: 10px;
    align-items: center;  
    justify-content: center; 
    width: 800px;
}
.zal {
 border:3px solid #ffffff;
 border-radius: 30px;
 -webkit-border-radius: 30px;
 -moz-border-radius: 30px;
}
.calc {
	display: flex;
	border: 10px solid #1e4f92;
	background-color: #1e4f92;
	border-radius: 20px;
	margin: 40px auto;
	width: 400px;
	height: 300px;
	align-items: center;
	color:#0a235e;
}
.art{
 color:#a2d7fd;
 font-family: arial black;
 margin: 10px auto;
}